{
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": { "es6": true, "browser": true },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true },
    "requireConfigFile": false
  },
  "plugins": ["react"],
  "overrides": [
    {
      "files": ["**/*.js"],
      "parserOptions": {
        "sourceType": "module"
      }
    },
    {
      "files": ["test/**"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "rules": { "jest/prefer-expect-assertions": "off" }
    }
  ],
  "rules": {
    "indent": ["error", 2]
  }
}